// font variables
$headingFont: "Patrick Hand", cursive;
$textFont: "Roboto", sans-serif;
// color variables
$mainWhiteColor: #f0e6f0;
$textFontColor: #f0e6f0;
$textFontColorSlightDim: #eee3ee;
$textFontColorDim: #cfc3d0;
$textFontColorHover: #feffff;
$textFontWhite: #fff;
$textFontColorGray: #322a32;
// $messageTextColor: #232628;
$messageTextColor: $textFontColor;

$main-pink: #dbbadd;
$affirm-green: #1eb090;
$affirm-green-dim: #1a9479;
$affirm-green-bright: #23cea9;
$main-black: #221923;
$secondary-black: #302530;
$secondary-black-hover: #473747;
$tertiary-black: #302530;
$dark-steel-blue: #293032;
$queen-blue: #446699;
// $form-background-color: #;

$modal-footer-black: #272a2c;
$grayblue: #567;
$light-pink: #ffacb4;
$glowingYellowTextColor: #ffe;
$warningTextColor: #fa8;
$warningTextColorHover: #fdb;
$warningTextColorLight: #fc9;
$warningBackgroundColor: #fdb;
$warningBackgroundColorHover: #fed;
$dangerTextColor: #f88;
$dangerTextColorHover: #fbb;
$dangerTextColorLight: #fcc;
$dangerBackgroundColor: #f04747;
$dangerBackgroundColorHover: #d02727;

// modal variables
$modalBorderColor: #5664;
$floatingButtonBorderColor: #788a;
